{% extends "base.html" %}

{% block content %}
  <div class="media">
    <div class="img avatar">
      <img src="{{ user.avatar_url }}" style="width:50px; height:50px">
    </div>
    <div >
      <h3 style="margin-top: 0; padding-top: 0">{{ user.name }}</h3>
      <h3 style="margin-top: 0; padding-top: 0">Total Points: {{ user.gpoints }}</h3>
      <p><a href="{{ user.link }}" target="_blank" rel="nofollow">{{ user.link }}</a></p>

       <p>              </p>
    </div>
  </div>
  <div>
        <ul data-role="listview"  data-divider-theme="a">	
			<li data-role="list-divider"> Recent golci Activity<span class="ui-li-count" data-theme="a">{{count}}</span></li>
    {% for c in cons %}
       <li><a href="/cv?con_id={{c.contention_id}}" data-ajax="false">
      {% if c.user_name %}
       <p>              </p>
        <p><strong>{{ c.user_name }} Posted on {{ c.date.strftime("%a, %d. %b %y, %I:%M%p") }}:</strong></p>
      {% else %}
       <p><strong>An anonymous person wrote:</strong></p>
      {% endif %}
      <p>{{ c.content }}</p>
      <p class="ui-li-aside">tagged as {{c.elem_type}}, {{c.branch_name}}</p>
      </a></li>
    {% endfor %}
    </ul> 
</div> 

{% endblock %}
